<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gestionmateriel">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.ajoutmateriel.AjoutMaterielActivity"
            android:label="@string/title_activity_ajout_materiel"
            android:parentActivityName=".presentation.fichemateriel.FicheMaterielActivity"

            ></activity>
        <activity android:name=".presentation.ajoutinterface.AjoutInterfaceActivity"
            android:parentActivityName=".presentation.fichemateriel.FicheMaterielActivity"/>
        <activity android:name=".presentation.fichemateriel.FicheMaterielActivity"
            android:parentActivityName=".presentation.fichemateriel.FicheMaterielActivity" android:launchMode="singleTop"/>
        <activity android:name=".presentation.ajoutcontact.AjoutContactActivity"
            android:parentActivityName=".presentation.ajoutcontact.AjoutContactActivity"/>
        <activity android:name=".presentation.listclient.ListClientActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ajoutclient.AjoutClientActivity"
            android:label="@string/title_activity_ajout_client"
            android:parentActivityName=".presentation.listclient.ListClientActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gestionmateriel.presentation.detailclient.DetailClientActivity" />
        </activity>
        <activity
            android:name=".presentation.detailclient.DetailClientActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>